@page
@model IndexModel
@{
    ViewData["Title"] = "AT - Agencia de Turismo";
}

<div class="text-center">
    <h1 class="display-4">AT - Agência de Turismo</h1>
    <h4>Exercícios:</h4>
</div>
    <ul style="list-style: none">
        <li><a href="/Ex01">Ex01</a></li>
        <li><a href="/Ex02">Ex02</a></li>
        <li> <a href="/Ex03">Ex03</a></li>
        <li><a href="/Ex04">Ex04</a></li>
        <li><a href="/CreateReserva">Ex05 - Criar Reserva</a></li>
        <li><a href="/CreatePacoteTuristico">Ex05 - Criar Pacote Turístico</a></li>
        <li> <a href="/CreateDestino">Ex06 - Criar Destino</a></li>
        <li><a href="/Ex07">Ex07</a></li>
        <li><a href="/ViewNotes">Ex08 - ViewNotes</a></li>
        <li>Ex09 - Criado a classe AgenciaTurismoContext.cs</li>
        <li>Ex10 - Criado os relacionamentos</li>
        <li><a href="/Clientes">Ex11 - Clientes</a></li>
        <li>Ex12 - Autenticação no header</li>
    </ul>

